<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %>!</h1>
    <p>
      One of your Karmency coins has registered a new exchange!
    </p>

      <p>
        The exchange took place on <%=@coin.moments.last.date%>   
        <% if @coin.last_transaction_location %>
          in <%=@coin.last_transaction_location %>. 
          <% else %>
          .
        <% end %> 
      </p> 
      <% if @coin.moments.last.description %>
        <p>
          The Karmic moment was described as: <br><i> "<%=@coin.moments.last.description%>"</i>
        </p> 
      <% end %>
      <p>
        This coin has now had <%=@coin.num_moments %> transactions in total. 
      </p>
      <p>
        Click <a href="http://www.karmency.org/coins/<%=@coin.code%>">here</a>
        for more information about <a href="http://www.karmency.org/coins/<%=@coin.code%>">coin <%= @coin.code %></a>. 
      </p>

    <p>Thanks for being part of the Karmency community and this social experiment in recognizing and tracking good deeds. We hope you are having a good day!</p>

    <p>
      Parker and Chad<br>
      The Karmency Team 
    </p>
  </body>
</html>