<div class="timeline-panel wow animated fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
    <div class="timeline-body" style="text-align: center">
        <h2>
            <!-- image to be replaced here -->
            <img src="<%= moment.image_url %>" class="img-circle" width="70px" height="70px" style="margin-left: auto; margin-right: auto; display: block;">
            <a href="#">Recipient: <%= moment.receiver_name %></a>

            <ul class="list-inline post-detail" style="text-align: left">
                <li><i class="fa fa-calendar"></i><%= moment.formatted_date %></li>
                <li class="pull-right"><i class="fa fa-map-marker"></i><%= moment.formatted_location %></li>
            </ul>
            <div style="padding-left: 0px"><p style="text-align: left"><%= moment.description %></p></div>
        </h2></div>
</div>
