<div class="col-md-8 margin30 sky-form-columns col-md-offset-2">
    <div class="divide40"></div>
    <!--sky form -->
    <h3 class="margin20">Tell us about your Karmency transaction!</h3>

    <%= form_for [@coin, @moment], html: {id: "sky-form", class: "sky-form"}, remote: true do |f| %>
        <fieldset>
            <section>
                <div class="inline-group">

                    <label class="radio">
                        <input type="radio" name="moment[giver_receiver]" value="receiver" checked=""><i></i>I received the coin from someone else
                    </label>

                    <label class="radio"><input type="radio" value="giver" name="moment[giver_receiver]"><i></i>I gave the coin to someone else</label>
                </div>
            </section>
            <label class="label">Description</label>
            <section>
                <label class="textarea">
                    <%= f.text_area :description, rows: "3", placeholder: "e.g. 'He gave me his seat on the subway'" %>
                </label>
            </section>
        </fieldset>
        <fieldset>
            <label class="label">Date & Location</label>
            <div class="row">
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" name="moment[date]" id="date">
                    </label>
                </section>

                <section class="col col-4">
                    <label class="select">
                        <select name="moment[state]">
                            <option value="0">State</option>
                            <option value="NA">Non-U.S.</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                        <i></i>
                    </label>
                </section>

                <section class="col col-4">
                    <label class="input">
                        <input type="text" name="moment[city]" placeholder="City" data-control="myCityControl">
                    </label>
                </section>

                <!-- hidden field to validate user is logged in -->
                <input type="hidden" name="login" data-control="myLoginControl">

            </div>
        </fieldset>
        <div class="divide30"></div>
        <hr>
        <div class="divide30"></div>
        <footer class="text-right">
            <%= f.submit "Submit", class: "btn btn-theme-dark btn-lg" %>
        </footer>
    <% end %>
    <!--sky form end here-->

    <!-- Login modal TODO: make a partial -->
    <div class="modal fade modal-lg" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="width: 100%">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">You must login to create a moment</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs text-center" role="tablist">
                                    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Register</a></li>
                                    <li role="presentation" ><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>

                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content" style="margin-top: 20px">
                                    <!-- register tab begin -->
                                    <div role="tabpanel" class="tab-pane active" id="profile">
                                        <%= render "devise/registrations/signup" %>
                                    </div><!--register tab end-->

                                    <!-- login tab begin -->
                                    <div role="tabpanel" class="tab-pane" id="login">
                                        <%= render "/devise/registrations/signin" %>
                                    </div><!--login tab end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--sky form plugin js-->
<script src="/sky-form/js/jquery.form.min.js" type="text/javascript"></script>
<script src="/sky-form/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/sky-form/js/jquery.modal.js"></script>
<script src="/sky-form/js/jquery-ui.min.js"></script>
<!-- sweet alert js -->
<script src="/js/sweetalert.min.js"></script>
<!-- jQuery cookies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script type="text/javascript">
 $(document).ready(function(){
     // Load description from cookies if available
     var description = $.cookie("momentDescription");
     if (description) {
         $('textarea[name="moment[description]"]').val(description);
     }

     // Load date from cookies if available
     var date = $.cookie("momentDate");
     if (date) {
         $('#date').val(date);
     } else {
         // pre-populate date
         function autoFillDate() {
             var today = new Date();
             var dd = today.getDate();
             var mm = today.getMonth()+1; //January is 0!
             var yy = today.getFullYear()-2000;

             if(dd<10) {
                 dd='0'+dd
             }

             if(mm<10) {
                 mm='0'+mm
             }

             today = mm+'/'+dd+'/'+yy;
             $('#date').val(today);
         }
         autoFillDate();
     }

     // Load location if stored in cookies
     var state = $.cookie("momentState");
     var city = $.cookie("momentCity");

     if (state && city) {
         $('input[name="moment[city]"]').val(city);
         $("select[name='moment[state]']").val(state);
     } else {
         // Retrieve location
         function getLocation() {
             if (navigator.geolocation) {
                 navigator.geolocation.getCurrentPosition(lookupPosition);
             }
         }
         function lookupPosition(position) {
             var data = {
                 lat: position.coords.latitude,
                 lng: position.coords.longitude
             };
             $.getJSON('/locations/lookup', data, function(data){
                 $('input[name="moment[city]"]').val(data.city);
                 var abbrev = $( "option:contains('" + data.state + "')" ).val();
                 if (abbrev) {
                     $("select[name='moment[state]']").val(abbrev);
                 };
             });
         }
         getLocation();
     };


     // Datepicker
     $('#date').datepicker({
         dateFormat: 'mm/dd/yy',
         prevText: '<i class="fa fa-chevron-left"></i>',
         nextText: '<i class="fa fa-chevron-right"></i>'
     });

     // Add value not equals validator
     $.validator.addMethod("valueNotEquals", function(value, element, arg){
         return arg != value;
     }, "Value must not equal arg.");

     $.validator.addMethod("isValidLocation", function(value, element, arg){
         var state = $('option[value=' + $('select[name="moment[state]"]').val() + ']')[0].text;
         var city = $('input[name="moment[city]"]').val();
         var isSuccess = false;

         $.ajax({ url: "/locations/validate",
                  data: {state: state, city: city},
                  dataType: "json",
                  async: false,
                  success:
                  function(data) {
                      isSuccess = data.isCity ? true : false
                  }
         });

         return isSuccess;

     }, "Must be valid location.");

     // check login status
     $.validator.addMethod("isLoggedIn", function(value, element, arg){
         // set cookies in case user leaves to log in - these are cleared when a moment is successfully created
         var description = $('textarea[name="moment[description]"]').val();
         var date = $('#date').val();
         var state = $('select[name="moment[state]"]').val();
         var city = $('input[name="moment[city]"]').val();
         $.cookie("momentDescription", description);
         $.cookie("momentDate", date);
         $.cookie("momentState", state);
         $.cookie("momentCity", city);

         var isSuccess = false;

         // check if user logged in
         $.ajax({ url: "/login_status",
                  dataType: "json",
                  beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                  async: false,
                  success:
                  function(data) {
                      isSuccess = data.loginStatus ? true : false
                  }
         });

         // handle not logged in
         if (!isSuccess) {
             $('#login-modal').modal('toggle');
         };

         // clear cookies if successful
         if (isSuccess) {
             $.removeCookie("momentDescription");
             $.removeCookie("momentDate");
             $.removeCookie("momentState");
             $.removeCookie("momentCity");
         };

         return isSuccess;
     }, "");

     // allows validation of hidden fields
     $.validator.setDefaults({
         ignore: []
     });

     // don't validate city field unless submit event, since it requires AJAX call
     $.validator.defaults.onfocusout = function (element, event) {
         if ($(element).data("control") === "myCityControl") return;
         if ($(element).data("control") === "myLoginControl") return;
         if (!this.checkable(element) && (element.name in this.submitted || !this.optional(element))) {
             this.element(element);
         }
     }

     $.validator.defaults.onkeyup = function (element, event) {
         if ($(element).data("control") === "myCityControl") return;
         if ($(element).data("control") === "myLoginControl") return;
         if (event.which === 9 && this.elementValue(element) === "") {
             return;
         }
         else if (element.name in this.submitted || element === this.lastElement) {
             this.element(element);
         }
     }

     // Validation
     $("#sky-form").validate({
         rules: {
             "moment[description]": {
                 required: true
             },
             "moment[date]": {
                 required: true,
                 date: true
             },
             "moment[state]": {
                 valueNotEquals: "0"
             },
             "moment[city]": {
                 required: true,
                 isValidLocation: true
             },
             login: {
                 isLoggedIn: true
             }
         },
         messages: {
             "moment[description]": {
                 required: "Enter a description"
             },
             "moment[date]": {
                 required: "Enter the date of the transaction",
                 date: "Must be a valid date"
             },
             "moment[state]": {
                 valueNotEquals: 'Please enter a valid U.S. state or specify "Non-U.S."'
             },
             "moment[city]": {
                 required: "Enter the city where the transaction took place"
             }
         },
         // Do not change code below
         errorPlacement: function(error, element) {
             error.insertAfter(element.parent());
         }
     });
 });
</script>
