
<tr>
    <td>
        <strong><%= link_to "#{coin.code}", coin_path(coin.code) %></strong>
    </td>
    <% if user_signed_in? %>
    <td>
        <% if coin.creator.id == current_user.id %>
            You
        <% else %>
            <%= coin.creator.formatted_name %>
        <% end %>
    </td>
    <% else %>
        <td>
            <%= coin.creator.formatted_name %>
        </td>
    <% end %>
    <td>
        <%= coin.formatted_location %>
    </td>
    <td style="text-align: center">
        <%= coin.num_moments %>
    </td>
    <td>
        <%= coin.last_transaction_location %>
    </td>
        <% if user_signed_in? && coin.creator.id == current_user.id %>
        <%= render 'alert', :coin => coin %>
        <% else %> 
        <td>
        N/A
        </td>
        <% end %>

</tr>







