<style>
 .colored-link {
     color: #E74C67;
 }
 h3.heading {
     font-size: 1.5em;
 }
</style>

<!-- spacing -->
<div class="divide30"></div>

<!-- coin summary info (above transactions) -->
<div class="container">
    <div class="row">
        <div class="col-md-4 margin30">
            <h3 class="heading">Coin &nbsp; <%= @coin.code %></h3>
            <div class="item-img-wrap" id="coinThreeJS">
            </div>
            <p style="text-align: center">click and drag to spin coin<br>
                <% if current_user == @coin.creator %>
                    <a href="" id="download-stl">download .stl to print</a>
                <% end %>
            </p>
        </div><!-- coin image -->
        <div class="col-md-7 col-md-offset-1">
            <h3 class="heading">coin stats</h3>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="false">
                                Collapsible Group Item #4
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed" aria-expanded="false">
                                Collapsible Group Item #5
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- coin stats-->
    </div>
</div>
<!-- end coin summary info -->

<!-- spacing -->
<div class="divide20"></div>

<!-- timeline -->
<div class="container">
    <h3 class="heading">Transactions &nbsp; | <%= link_to "&nbsp;<i class='fa fa-plus'></i>&nbsp;Add a new transaction".html_safe, new_coin_moment_path(@coin), class: "colored-link" %></h3>
    <ul class="timeline">
        <% icons = ["fa-smile-o","fa-motorcycle","fa-bolt","fa-certificate", "fa-dot-circle-o", "fa-bug", "fa-gift", "fa-eye", "fa-heart-o", "fa-futbol-o", "fa-globe", "fa-life-buoy", "fa-moon-o", "fa-paper-plane-o","fa-heart","fa-rocket", "fa-puzzle-piece", "fa-star-o", "fa-thumbs-up", "fa-umbrella", "fa-truck", "fa-trophy", "fa-wrench"] %>
        <% @moments.each_with_index do |moment, index| %>
            <% if index % 2 == 0 %>
                <li>
                    <div class="timeline-badge primary"><i class="fa <%= icons.sample %>"></i></div>
                    <%= render partial: 'moments/moment', locals: {moment: moment} %>
                </li>
            <% else %>
                <li class="timeline-inverted">
                    <div class="timeline-badge primary"><i class="fa <%= icons.sample %> invert"></i></div>
                    <%= render partial: 'moments/moment', locals: {moment: moment} %>
                </li>
            <% end %>
        <% end %>
        <li class="clearfix" style="float: none;"></li>
    </ul>
</div>
<!-- end timeline -->

<script type="text/javascript" src="/parker-additions/js/three.min.js"></script>
<script src='http://threejs.org/examples/fonts/helvetiker_bold.typeface.js'></script>
<script src='/parker-additions/js/filesaver.js'></script>
<script src='/parker-additions/js/exportSTL.js'></script>
<script src='/parker-additions/js/importSTL.js'></script>

<script>
 $(document).ready(function(){

     // Define function to initialize ThreeJS scene
     var init3d = function(){

         /// Global : renderer
         renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
         renderer.setClearColor( 0x000000, 0 );
         renderer.setPixelRatio( window.devicePixelRatio );
         var width = $('#coinThreeJS').width();
         var height = width;
         renderer.setSize( width, height);
         renderer.shadowMapEnabled = true;

         /// Global : scene
         scene = new THREE.Scene();

         /// Global : camera
         // camera = new THREE.PerspectiveCamera( 50, window.innerWidth / window.innerHeight, 1, 1000 );
         camera = new THREE.PerspectiveCamera( 28, 1, 1, 1000 );
         camera.position.set( 0, 0, 100 );

         /// Global : group
         group = new THREE.Group();
         scene.add( group );

         /// Global: lighting
         var pointLight = new THREE.PointLight( 0xffffff, 1, 200 );
         pointLight.position.set( 8, 8, 10 );
         scene.add( pointLight );

         var directionalLight = new THREE.DirectionalLight( 0xffffff );
         directionalLight.intensity = 0.3;
         directionalLight.position.set( -.5, .5, 1 ).normalize();
         directionalLight.castShadow = true;
         // scene.add( directionalLight );

         var spotLight = new THREE.SpotLight( 0xffffff );
         spotLight.position.set( -1, 1, 1 ).normalize();
         spotLight.castShadow = true;
         // scene.add( spotLight );

         var spotLightHelper = new THREE.SpotLightHelper( spotLight );
         //scene.add( spotLightHelper );

         var ambientLight = new THREE.AmbientLight ( 0x404040 );
         ambientLight.intensity = 0.3;
         scene.add( ambientLight );

         // Add coin to scene
         addCoin();

     };

     // Define function to load coin from STL, add text to coin, and add it to scene
     function addCoin() {
         // import STL of coin
         var loader = new THREE.STLLoader();

         // generate hex code geometry 1
         var textGeomA = new THREE.TextGeometry("<%= @coin.code[0] %>", {
             size: 6,
             height: 1.5,
             font: 'helvetiker',
             weight: 'bold'
         });
         textGeomA.applyMatrix( new THREE.Matrix4().makeTranslation(-13, -4.5, -0.3) );

         // generate hex code geometry 1
         var textGeomB = new THREE.TextGeometry("<%= @coin.code[1] %>", {
             size: 6,
             height: 1.5,
             font: 'helvetiker',
             weight: 'bold'
         });
         textGeomB.applyMatrix( new THREE.Matrix4().makeTranslation(-5.5, -4.5, -0.3) );

         // generate hex code geometry 1
         var textGeomC = new THREE.TextGeometry("<%= @coin.code[2] %>", {
             size: 6,
             height: 1.5,
             font: 'helvetiker',
             weight: 'bold'
         });
         textGeomC.applyMatrix( new THREE.Matrix4().makeTranslation(1, -4.5, -0.3) );

         // generate hex code geometry 1
         var textGeomD = new THREE.TextGeometry("<%= @coin.code[3] %>", {
             size: 6,
             height: 1.5,
             font: 'helvetiker',
             weight: 'bold'
         });
         textGeomD.applyMatrix( new THREE.Matrix4().makeTranslation(7.5, -4.5, -0.3) );

         loader.load( '/parker-additions/stl/karma-coin-1.stl', function ( bufferGeometry ) {
             var geometry = new THREE.Geometry().fromBufferGeometry( bufferGeometry );
             // merge geometries
             geometry.merge( textGeomA );
             geometry.merge( textGeomB );
             geometry.merge( textGeomC );
             geometry.merge( textGeomD );

             var material = new THREE.MeshPhongMaterial({
                 color: 0x0000ff,
                 specular: 0x000044,
                 shininess: 200
             });

             // adjust merged coin
             geometry.applyMatrix( new THREE.Matrix4().makeTranslation(0, 0, -0.75) );

             // set coinMesh
             coinMesh = new THREE.Mesh( geometry , material);

             // adjust coinMesh rotation
             coinMesh.rotation.y += 0.35;

             // coinMesh.castShadow = true;
             // coinMesh.receiveShadow = true;

             group.add( coinMesh );

             $('#download-stl').click(function(){
                 saveSTL( scene, 'karmency-coin-<%= @coin.code %>' );
             });
         });
     }

     // handle window resize
     function onWindowResize() {

         var width = $('#coinThreeJS').width();
         var height = width;

         windowHalfX = width / 2;
         windowHalfY = height / 2;

         renderer.setSize( width, height );
     };


     // Functions for manipulting rotation
     function onDocumentMouseDown( event ) {

         event.preventDefault();

         document.addEventListener( 'mousemove', onDocumentMouseMove, false );
         document.addEventListener( 'mouseup', onDocumentMouseUp, false );
         document.addEventListener( 'mouseout', onDocumentMouseOut, false );

         mouseXOnMouseDown = event.clientX - windowHalfX;
         targetRotationOnMouseDown = targetRotation;
     };

     function onDocumentMouseMove( event ) {

         mouseX = event.clientX - windowHalfX;

         targetRotation = targetRotationOnMouseDown + ( mouseX - mouseXOnMouseDown ) * 0.02;
     };

     function onDocumentMouseUp( event ) {

         document.removeEventListener( 'mousemove', onDocumentMouseMove, false );
         document.removeEventListener( 'mouseup', onDocumentMouseUp, false );
         document.removeEventListener( 'mouseout', onDocumentMouseOut, false );
     };

     function onDocumentMouseOut( event ) {

         document.removeEventListener( 'mousemove', onDocumentMouseMove, false );
         document.removeEventListener( 'mouseup', onDocumentMouseUp, false );
         document.removeEventListener( 'mouseout', onDocumentMouseOut, false );
     };

     function onDocumentTouchStart( event ) {

         if ( event.touches.length == 1 ) {

             event.preventDefault();

             mouseXOnMouseDown = event.touches[ 0 ].pageX - windowHalfX;
             targetRotationOnMouseDown = targetRotation;
         }
     };

     function onDocumentTouchMove( event ) {

         if ( event.touches.length == 1 ) {

             event.preventDefault();

             mouseX = event.touches[ 0 ].pageX - windowHalfX;
             targetRotation = targetRotationOnMouseDown + ( mouseX - mouseXOnMouseDown ) * 0.05;
         }
     };

     function animate() {

         // compatibility : http://caniuse.com/requestanimationframe
         requestAnimationFrame( animate );
         render();

     };

     function render() {

         group.rotation.y += ( targetRotation - group.rotation.y ) * 0.05;
         renderer.render( scene, camera );
     };
     // end functions for manipulating rotation

     // Main (where the magic happens)
     var renderer, scene, camera, group;

     var targetRotation = 0;
     var targetRotationOnMouseDown = 0;

     var mouseX = 0;
     var mouseXOnMouseDown = 0;

     var windowHalfX = 200;
     var windowHalfY = 200;

     var container = document.getElementById( 'coinThreeJS' );

     init3d();
     container.appendChild( renderer.domElement );

     document.addEventListener( 'mousedown', onDocumentMouseDown, false );
     document.addEventListener( 'touchstart', onDocumentTouchStart, false );
     document.addEventListener( 'touchmove', onDocumentTouchMove, false );

     animate();
 });
</script>
